@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #555555;
	font-family: "futura-pt", Arial, sans-serif;
}

$sViewport: 320px;
$mViewport: 600px;
$xlViewport: 1200px;

.top {
    height: 85px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 0.5s;

    @media (min-width: $sViewport) {
        height: 85px;
    }


    @media (min-width: $xlViewport) {
        height: 170px;
    }
}

.topCollapsed {
	@media (min-width: $xlViewport) {
        height: 85px;
    }
}

.logo {
    border: 1px solid #999999;
    background-image: url(../img/logo.svg);
    background-size: 80%;	
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: width 0.5s, height 0.5s, margin-left 0.5s; 


    @media (min-width: $sViewport) {
        width: 60px;
		height: 60px;
        margin-left: 10px;
    }

    @media (min-width: $xlViewport) {
        width: 95px;
        height: 95px;
        margin-left: 35px;
    }
}

.logoCollapsed {

	@media (min-width: $xlViewport) {
		width: 60px;
		height: 60px;
	}
}

.socialIcons {
		display: none;
   
    @media (min-width: $xlViewport) {
        display: inline;
        margin-right: 35px;
		font-size: 20px;

        .fa {
			margin-left: 15px;
		}		
	}
} 

.hamburgerMenu {
	width: 90px;
	height: 35px;
	border: 1px solid #999999;
	line-height: 35px;
	text-align: center;	
	font-weight: bold;
	cursor: pointer;

    @media (min-width: $sViewport) {
        margin-right: 10px;
    }

    @media (min-width: $xlViewport) {
        display: none;
    }

    @media (min-width: $mViewport) {
        margin-right: 15px;
    }
}   

.hamburgerMenuOpen {
	width: 100%;
	height: 500px;
	background: #FFFFFF;
	border-top: 1px solid #999999;
	display: none;
}

.menuItem {
	margin-top: 30px;
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	line-height: 40px;
	text-transform: uppercase;
	margin-left: 10px;
	color: #161715;
	cursor: pointer;
}

.smallLineMenu {
	width: 300px;
	height: 1px;
	background-color: #999999;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

// POCZĄTEK SEKCJI Z CONTENTEM ----------------------------------//

@keyframes onHoverIn { 
    0%{background-position:0%}
   	100%{background-position:100%}
}

@keyframes onHoverOut { 
    0%{background-position:100%}
   	100%{background-position:0%}
}

.coverContainer {

    @media (min-width: $sViewport) {
        width: 100%;
		display: block;
    }

    @media (min-width: $xlViewport) {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
    }
}

.title {
	font-size: 30px;
	font-weight: bold;
}

.smallLine {
	width: 60px;
	height: 1px;
	background-color: #5d4157;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.description {
	font-size: 18px;
	color: #babbba;
}
 
.cover {
	width: 100%;
	height: 35vh;
	background: linear-gradient(135deg, #161715 0%,#161715 35%,#9cb4c4 60%,#eef1aa 100%,#eef1aa 100%);
	background-size: 300% 300%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	text-align: center;
	margin-bottom: 1px;
	transition: height 0.5s ease-in-out;
	
	cursor: pointer;


    @media (min-width: $xlViewport) {
        width: calc(25% - 1px);
		height: calc(100vh - 170px);
		margin-left: 1px;
		transition: width 0.5s ease-in-out;

        .description {
            display: inline-block;
            width: 300px;
	    }	
    }
}

.coverRolloverOut {
	animation-name: onHoverOut;
	animation-duration: 0.3s;
}  

.coverRollover:hover {
	animation-name: onHoverIn;
	background-position: 100%;

     @media (min-width: $sViewport) {
        height:  calc(50vh - 60px);
    }

     @media (min-width: $xlViewport) {
        width: 30%;
		height: calc(100vh - 170px);
		animation-name: onHoverIn;
		background-position: 100%;

		.description {
			color: #161715;
			display: inline-block;
			width: 300px;
			transition: color 0.5s ease-in-out;
		}
    }

	.title {
		color: #161715;
		transition: color 0.5s ease-in-out;
	}

	.description {
		color: #161715;
		transition: color 0.5s ease-in-out;
	}

	.smallLine {
		background-color: #161715;
		transition: color 0.5s ease-in-out;
	}  
}

.coverMax { 	
	background: #9cb4c4;
	position: relative;
	display: block;

	@media (min-width: $sViewport) {
		width: 100%;
 	    height: calc(100vh - 24vh - 85px);
	}
	
    @media (min-width: $xlViewport) {
        width: 79%;
        height: auto;
    }

	.title {
		color: #161715;

		@media (min-width: $sViewport) {
			display: block;
			top: 2em;
		}

		@media (min-width: $xlViewport) {
			position: absolute;
			transform-origin: 0 0;
			transform: rotate(90deg);
			font-size: 30px;
			top: 2em;
			left: 2em;
		}
	}

	.smallLine {
		display: none;
	}

	.description {
		display: none;
	}
}

.coverMin {
    display: block;	
	position: relative;
	width: 100%;
	height: 8vh;
	color: #333;
	background: #161715;

    @media (min-width: $xlViewport) {
		display: block;
		float: left;
		width: 7%;
		min-height: calc(100vh - 85px);
		height: auto;
    }

	.description {
			display: none;
	}

	.smallLine {
			display: none;
	}

	.title {
		display: block;

		@media (min-width: $xlViewport) {
			position: absolute;
			transform-origin: 0 0;
			transform: rotate(90deg);		
			text-align: left;
			top: 2em;
			left: 2em;
			font-size: 30px;
			color: #FFF
		}

		@media (min-width: $sViewport) {
			color: #FFF;
		}
	}
}

/* STYLE DLA PROJEKTÓW I TREŚCI */

.hidden {
	display: none;
}

.show {
	display: block;
}

.mainContainer {
    margin-left: 6em;
    margin-right: 6em;

	@media (min-width: $xlViewport) {
		margin-top: 6em;
	}

	@media (min-width: $sViewport) {
		 margin-top: 3em;
	}
}

.topContentContainer {
    width: 100%;
    margin-bottom: 3em;

	@media (min-width: $sViewport) {
		display: none;
	}

	@media (min-width: $xlViewport) {
		display: flex;
		justify-content: space-between;
    	align-content: center;
	}
}

.sectionTitle {
    display: block;
    font-size: 35px;
    color: #161715;
    text-align: left;
}

.contactBtn {
	font-family: "futura-pt", Arial, sans-serif;
    display: block;
    border: none;
    width: 250px;
    height: 60px;
    font-size: 18px;
    font-weight: 800;
    background: #FFF;
    box-shadow: 0 15px 50px rgba(0,0,0,0.3);
    text-transform: uppercase;
    color: #161715;
    cursor: pointer;
}

.sectionUnderline {
    width: 12em;
    height: 2px;
    background: #161715;
    margin-top: 0.8em;
}

.projectContainer {
    text-align: center;
}

.projectTitle {
    color: #161715;
	margin-bottom: 0.6em;
	

	@media (min-width: $sViewport) {
		font-size: 40px;
		text-align: center;
		margin-top: -1em;
      		
	}

	@media (min-width: $xlViewport) {
		font-size: 60px;
    	text-align: left;
		margin-top: 0;
	}
}

.bottomContentContainer {

	@media (min-width: $xlViewport) {
		width: 100%;
		display: flex;
		margin-bottom: 3em;
	}
}

.viewBtn {
	font-family: "futura-pt", Arial, sans-serif;
    width: 150px;
    height: 40px;
    border: 1px solid #161715;
    color: #161715;
    background: none;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 1em;
	text-align: center;

	@media (min-width: $sViewport) {
		display: inline;
	}

	@media (min-width: $xlViewport) {
		display: block;
	}
}

.projectDescription {
    display: block;    
    text-align: left;
    width: 70%;
    font-size: 18px;
    line-height: 24px;
    color: #161715;
    font-family: "nimbus-sans";

	@media (min-width: $sViewport) {	
		display: none;
	}

	@media (min-width: $xlViewport) {	
		display: block;
	}
}

.projectInfo {
    display: block;
    width: 100%;     
    font-size: 18px;
    line-height: 24px;
    text-align: left;
        
    td {
        font-family: "nimbus-sans";
         color: #161715;
    }

	@media (min-width: $sViewport) {
		display: none;
	}

	@media (min-width: $xlViewport) {
		display: block;
	}
}

.projectViewer {

	@media (min-width: $sViewport) {
		height: auto; 
		margin: 0 auto;
		margin-bottom: 6em;

		img {
			width: 80%;
		}
	}

	@media (min-width: $xlViewport) {
		height: 75vh;
        background-size: 100%;
        overflow-y: scroll;
        cursor: s-resize;
        margin-bottom: 6em;

        img {
            width: 100%;
        }
	}
}

.text {
	font-family: "nimbus-sans";
	font-size: 18px;
	line-height: 24px;
	text-align: left;
	color: #161715;
}

.lead {
	margin-bottom: 1em;
	display: block;
    font-size: 35px;
    color: #161715;
    text-align: left;
}